<div class="full-width text-center">

  <img src="../Images/404meme2.png" alt="404 Meme" />
  <p class="lead"><strong>Team 404</strong> </p>

  <p class="lead"><strong>Joshua Steinerman / GIT jay9154 / DISCORD Jay9 </strong> </p>
  <p class="lead"><strong>Cristofer Carcamo / GIT CC862 / DISCORD Cristofer Carcamo </strong> </p>
  <p class="lead"><strong>Ahsan Hasnath / GIT Graphite1090 / DISCORD Ahsan Hasnath  </strong> </p>
  <p class="lead"><strong>Zal Patel / GIT patelZal / DISCORD zalpatel </strong> </p>
  <p class="lead"><strong>Akshay Patel / GIT akshay4121 / DISCORD AkshayP </strong> </p>

 
