<form action="/users/UpdatePatient" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Update Patient Form</h1>
  
  <label for="patientId" class="sr-only">title</label>
  <input type="number" name="patientId" class="form-control" placeholder="Patient ID" required autofocus>
  
  
  <label for="title" class="sr-only">title</label>
  <input type="text" name="title" class="form-control" placeholder="Title"  autofocus>
  
  <label for="firstName" class="sr-only">firstName</label>
  <input type="text" name="firstName" class="form-control" placeholder="First name"  autofocus>
  
  <label for="middleInitial" class="sr-only">middleInitial</label>
  <input type="text" name="middleInitial" class="form-control" placeholder="Middle initial" autofocus>
 
 
  <label for="lastName" class="sr-only">lastName</label>
  <input type="text" name="lastName" class="form-control" placeholder="Last name"  autofocus>
  
  <label for="phone" class="sr-only">phone</label>
  <input type="text" name="phone" class="form-control" placeholder="Your phone number" >
   
  <label for="email" class="sr-only">email</label>
  <input type="email" name="email" class="form-control" placeholder="Your email" >
   
  <label for="sex" class="sr-only">sex</label>
  <input type="text" name="sex" class="form-control" placeholder="Gender" >
   
   <label for="ssn" class="sr-only">ssn</label>
   <input type="text" name="ssn" class="form-control" placeholder="SSN" >
    
   <label for="dob" class="sr-only">dob</label>
   <input type="Date" name="dob" class="form-control" placeholder="Date of birth" >
   
   <label for="street" class="sr-only">street</label>
   <input type="text" name="street" class="form-control" placeholder="Street" >
   
   <label for="city" class="sr-only">city</label>
   <input type="text" name="city" class="form-control" placeholder="City" >
   
   <label for="state" class="sr-only">state</label>
   <input type="text" name="state" class="form-control" placeholder="State" >
   
   <label for="zip" class="sr-only">zip</label>
   <input type="text" name="zip" class="form-control" placeholder="Zip" >
   
   <label for="insuranceCompany" class="sr-only">insuranceCompany</label>
   <input type="text" name="insuranceCompany" class="form-control" placeholder="Insurance Company" >
   
   <label for="plan" class="sr-only">plan</label>
   <input type="text" name="plan" class="form-control" placeholder="Plan">
   
   <label for="groupNumber" class="sr-only">groupNumber</label>
   <input type="text" name="groupNumber" class="form-control" placeholder="Group number" >
   
   <label for="cardHolder" class="sr-only">cardHolder</label>
   <input type="text" name="cardHolder" class="form-control" placeholder="Card holder" >
   
    <label for="medications" class="sr-only">medications</label>
   <input type="text" name="medications" class="form-control" placeholder="Medications" >
   
   <label for="allergies" class="sr-only">allergies</label>
   <input type="text" name="allergies" class="form-control" placeholder="Allergies" >
   
   <label for="surgeries" class="sr-only">surgeries</label>
   <input type="text" name="surgeries" class="form-control" placeholder="Surgeries" >
   
   <label for="familyHistory" class="sr-only">familyHistory</label>
   <input type="text" name="familyHistory" class="form-control" placeholder="Family History">
   
   <label for="addictions" class="sr-only">addictions</label>
   <input type="text" name="addictions" class="form-control" placeholder="Addictions" >
   
   <label for="questionnaire" class="sr-only">questionnaire</label>
   <input type="text" name="questionnaire" class="form-control" placeholder="Blood Type" >
   
   <label for="symptoms" class="sr-only">symptoms</label>
   <input type="text" name="symptoms" class="form-control" placeholder="Symptoms" >
   
    
   <label for="signature" class="sr-only">signature</label>
   <input type="text" name="signature" class="form-control" placeholder="Signature" >
   
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
  
</form>



<form action="/users/UpdateContact" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Update Contact Form</h1>
  
   <label for="contactId" class="sr-only">contactId</label>
   <input type="number" name="contactId" class="form-control" placeholder="Contact Id" required >
  
   <label for="patientId" class="sr-only">patientId</label>
   <input type="number" name="patientId" class="form-control" placeholder="Patient Id" >
  
  <label for="title" class="sr-only">title</label>
  <input type="text" name="title" class="form-control" placeholder="Title"  autofocus>
  
  <label for="firstName" class="sr-only">firstName</label>
  <input type="text" name="firstName" class="form-control" placeholder="First name" autofocus>
  
  <label for="middleInitial" class="sr-only">middleInitial</label>
  <input type="text" name="middleInitial" class="form-control" placeholder="Middle initial" autofocus>
 
 
  <label for="lastName" class="sr-only">lastName</label>
  <input type="text" name="lastName" class="form-control" placeholder="Last name" autofocus>
  
  <label for="phone" class="sr-only">phone</label>
  <input type="text" name="phone" class="form-control" placeholder="Contacts phone number" >
   
  <label for="email" class="sr-only">email</label>
  <input type="email" name="email" class="form-control" placeholder="Contacts email" >
   
  <label for="sex" class="sr-only">sex</label>
  <input type="text" name="sex" class="form-control" placeholder="Gender" >
   
   <label for="dob" class="sr-only">dob</label>
   <input type="Date" name="dob" class="form-control" placeholder="Date of birth" >
   
   <label for="street" class="sr-only">street</label>
   <input type="text" name="street" class="form-control" placeholder="Street" >
   
   <label for="city" class="sr-only">city</label>
   <input type="text" name="city" class="form-control" placeholder="City" >
   
   <label for="state" class="sr-only">state</label>
   <input type="text" name="state" class="form-control" placeholder="State" >
   
   <label for="zip" class="sr-only">zip</label>
   <input type="text" name="zip" class="form-control" placeholder="Zip" >
   
   <label for="relationToPatient" class="sr-only">relationToPatient</label>
   <input type="text" name="relationToPatient" class="form-control" placeholder="Relation To Patient" >
   
   <label for="type" class="sr-only">type</label>
   <input type="text" name="type" class="form-control" placeholder="Type">
   
   <label for="emergencyPriority" class="sr-only">emergencyPriority</label>
   <input type="number" name="emergencyPriority" class="form-control" placeholder="EmergencyPriority" >
   
   <label for="signature" class="sr-only">signature</label>
   <input type="text" name="signature" class="form-control" placeholder="Signature">
   
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>


<form action="/users/DeletePatient" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Delete Patient Form </h1>
  
   <label for="patientId" class="sr-only">patientId</label>
   <input type="number" name="patientId" class="form-control" placeholder="Patient Id" required>
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>


<form action="/users/DeleteContact" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Delete Contact Form </h1>
  
   <label for="contactId" class="sr-only">patientId</label>
   <input type="number" name="contactId" class="form-control" placeholder="Contact Id" required>
   
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>

<form action="/users/GetAllPatient" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Get All Patients </h1>
     
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>

<form action="/users/GetRecord" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Get Specific Field Form </h1>
  
   <label for="Id" class="sr-only">Id</label>
   <input type="number" name="Id" class="form-control" placeholder="Patient ID (leave blank for all)" >
   
    <label for="val" class="sr-only">val</label>
   <input type="text" name="val" class="form-control" placeholder="Search Field" required>
  
   
     
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
 
</form>

 <div class="footer">
<p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to Patient Page</a>
  </p>
  </div>

